gradio
mdtex2html
pypinyin
tiktoken
socksio
tqdm
colorama
accelerate
langchain
torch
langchain
protobuf==3.20.*
faiss-cpu
chromadb 
sentence_transformers 
InstructorEmbedding
python-dotenv
openai
gpt4all
pyllama 
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
SentencePiece
isort
black
llama-cpp-python
pyllamacpp
pygpt4all
tiktoken
safetensors
xformers
bitsandbytes
einops
gevent
pydantic >= 1.10.11